a {
    color: white;
}
a:hover {
    color: white;
}
header {
    /*background-color: rgba(0,0,0,.3);*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    padding: 0.9rem;
}

.imagen-carrito{
    background: url(/img/bg-tq-land-inferior.jpg) 0px center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    display: none;
    min-height: 500px;
}

.infoFooter{
    margin-left: 35%;
    padding-top: 20px !important;
}
.iconosInfo{
    width: 70%;
    margin-left: 30%;
}
.iconosInfo > div {
   /* display: -webkit-box;*/
}

.iconosInfo > div > p {
    /*padding-top: 35px;*/
    font-size: 15px;
}
.iconosInfo > div > h4 {
    margin-bottom: 0px;
}




@media (max-width : 799px) {
    .tq-container-top{
        background: url(/img/bg-tq-land-vacio.jpg) 0px center !important;
        background-size: cover !important;
        padding-top: 139px !important;
    }
    .imagen-carrito{
        display: block !important;
        height: auto;
        width: auto;
    }
    .infoFooter{
        margin: 0 auto !important;
    }
    .iconosInfo{
        width:100%;
        margin-left: 0%;
    }
}

.tq-info {
    text-align: right;
    margin-bottom: 15px;
}

iframe {
    right: calc(100% - 420px) !important;
}
@media screen and (max-width: 576px){
    .tq-info {
        text-align: center;
    }
}

.tq-container-top {
    background: url('/img/bg-tq-land.jpg') 0px center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
}

.buttonClose{
    /* width: 26px; */
    margin-left: calc(100% - 34px);
    background: black;
    margin-top: 0px;
    border-width: 0px;
    margin-bottom: -1px;
    /* margin-bottom: 0px; */
    cursor: pointer;
}

.tq-form {
    text-align: center;
    color: white;
    background-color: #3f5073;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 10px auto;
    max-width: 700px;
}

.tq-form .btn {
    background-color: #c54f69;
    border:none;
    font-size:1.5rem;
    font-weight: bold;
}

section > div > p {
    padding-top: -5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -6px;
}
.tq-input {
    margin: 10px 0;
}

.tq-input input {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.tq-input input:focus {
    border: none;
    outline: none;
}

.tq-title {
    text-align: center;
    color: white;
    margin: 20px 0;
}

.tq-title img{
    max-width: 100%;
}

.tq-social {
    color: white;
    margin: 10px 0;
}
.tq-social-icon{
    display: inline-block;
}

.tq-container-bottom > div {
    padding: 0px 30px 30px 30px;
    text-align: center;
    color: #2c73b5;
}
.tq-container-bottom > div .icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tq-video {
    display: flex;
    justify-content: center;
}
.tq-video iframe {
    border: 5px solid black;
}